<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>中人网在线教育</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" width="590">
  <tbody>
    <tr>
      <td height="36" bgcolor="#3d8abb" style="padding-left:20px"></td>
    </tr>
    <tr>
      <td style="font-size:16px;padding:15px 5px 10px 15px;border:1px solid #3d8abb">
      <p th:text="${username}"></p>你好！！
        <table border="0" style="margin:5px 25px">
          <tbody>
            <tr>
              <td><p style="padding:10px 10px 10px 0px;margin-top:0px;font-size:14px;line-height:28px;font-size:14px">您申请了密码重置，请 
              <a th:href="@{http://192.168.21.128:8080/pubel/user/setPass.do(uid=${id},token=${token})}" target="_blank">点击这里</a> 进行密码重置。<br/>
                   为保障您账号的安全性，以上链接有效期为<b>24小时</b>，<wbr/>
                  并将在点击一次后失效！</p></td>
            </tr>
            <tr>
              <td style="border-top:1px solid #f2f2f2;padding:20px 10px 10px 0px;font-size:12px;color:#999"> 如果以上链接无法点击，可以复制以下链接在浏览器中打开：<br/>
                <a th:href="@{http://192.168.21.128:8080/pubel/user/setPass.do(uid=${id},token=${token})}" style="color:#336699; line-height:16px" target="_blank">http://192.168.21.128:8080/pubel/user/setPass.do?uid=<span th:text="${id}"></span><![CDATA[&]]>token=<span th:text="${token}"></span></a></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td height="30"><p style="text-align:right;color:#c0c0c0;font-size:12px">中人网在线教育  人人为师，师为人人</p></td>
    </tr>
  </tbody>
</table>
</body>

</html>