body {
  padding-top: 156px;
  background-image:url(../images/body_bg.png);
}
.center {
  width: auto;
  display: table;
  text-align:center;
  line-height:inherit;
  margin-left: auto;
  margin-right: auto;
}
#goTopBtn {
	background:url(../images/top.png) left -0px;
	POSITION: fixed; 
	TEXT-ALIGN: center; 
	LINE-HEIGHT: 30px; 
	WIDTH: 36px; 
	BOTTOM: 40px; 
	HEIGHT: 38px; 
	FONT-SIZE: 12px; 
	CURSOR: pointer; 
	RIGHT: 20px; 
	_position: fixed; 
	_right: auto;
}
#goTopBtn:hover{
	background:url(../images/top.png) 42px -0px ;
}
.gradient{
	background:#6FC;
background: linear-gradient(left , rgba(246, 245, 250, 0.06) 70% , rgb(0, 2, 2) 92%);
background: -o-linear-gradient(left , rgba(246, 245, 250, 0.06) 70% , rgb(0, 2, 2) 92%);
background: -ms-linear-gradient(left , rgba(246, 245, 250, 0.06) 70% , rgb(0, 2, 2) 92%);
background: -moz-linear-gradient(left , rgba(246, 245, 250, 0.06) 70% , rgb(0, 2, 2) 92%);
background: -webkit-linear-gradient(left , rgba(246, 245, 250, 0.06) 70% , rgb(0, 2, 2) 92%);
}

.clear{
	background:none;
	margin:0px;
	padding:0px;
}

#rateStatus{float:left; clear:both; width:100%; height:20px;}
    #rateMe{ clear:both; width:100%;  padding:0px; margin:0px;}
    #rateMe li{float:left;list-style:none;}
    #rateMe li a:hover,
    #rateMe .on{background:url(../images/star-on.png) no-repeat;width:16px;height:16px;}
    #rateMe a{float:left;background:url(../images/star-off.png) no-repeat;width:16px; height:16px;}
    #ratingSaved{display:none;}
    .saved{color:red; }
